.terminal-theme {
  padding: 10px;
  &.default {
    background-color: #343434;
    .pipeline {
      color: #eaeaea;
      line-height: 130%;
    }
    .prompt {
      color: #eaeaea;
      .path-info {
        line-height: 130%;
        .arr-block {
          display: inline-block;
          background-color: #000;
          padding: 0 5px 0 5px;
          &.current-path {
            background-color: #2a47c1;
            color: #fff;
          }
        }
      }
      .command-line {
        margin-top: 5px;
        &::after {
          display: block;
          content: "";
          clear: both;
        }
        span.prefix {
          display: block;
          float: left;
          width: 20px;
          text-align: center;
        }
        form.command-form {
          legend {
            display: none;
          }
          textarea.command {
            display: block;
            float: left;
            height: 100%;
            width: calc(100% - 20px);
            outline: none;
            color: #fff;
            // caret-color: #c8c33f;
            background-color: transparent;
            border: none;
            box-sizing: border-box;
            resize: none;
          }
        }
      }
    }
  }
}
