$default-font-family:  -apple-system, BlinkMacSystemFont, 'nanum-barun-gothic', 'NanumBarunGothic', 'AppleGothic', 'Roboto', sans-serif;
$default-font-size: 15px;

$color-black: #000000;
$color-black-300: #383838;
$color-black-500: #585858;
$color-black-800: #e3e3e3;
$color-black-900: #f8f8f8;
$color-black-1000: #fafbfc;
$color-white: #ffffff;
$color-yellow: #fcd865;
$color-orange: #f88e60;
$color-red: #a30d3d;
$color-red-200: #BD1E51;
$color-blue: #0366d6;

$default-box-padding: 15px 15px;
