$default-font-family: 'AppleGothic', 'NanumBarunGothic', 'Roboto', sans-serif;
$default-font-size: 13px;

$color-black: #000000;
$color-black-300: #383838;
$color-black-1000: #f6f6f6;
$color-white: #ffffff;
$color-yellow: #fcd865;
$color-orange: #f88e60;
$color-red: #a30d3d;
$color-red-200: #BD1E51;

$default-box-padding: 10px 15px;