$default-font-family: 'AppleGothic', 'NanumBarunGothic', 'Roboto', sans-serif;
$default-font-size: 13px;
$default-font-color: #e2e2e2;

$backcolor: #1e1e1e;
$backcolor-300: #383838;

$default-box-padding: 10px 15px;
$default-tab-width: 115px;

$hcolor-yellow: #fcd865;
$hcolor-orange: #f88e60;
$hcolor-red: #ff547e;